@{
    Layout = null;
    ViewData["HasFooter"] = false;
}

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous">
<h3 style="text-align:center">Öğretmen Silme Sayfası</h3>

<div class="alert alert-danger">
    <partial name="~/Views/Teacher/Partials/_TeacherInfoPartial.cshtml" />
    <h3>Silmek İstediğinize Emin Misiniz ?</h3>
    <button class="btn btn-primary">Evet</button>
    <button class="btn btn-primary">Hayır</button>
</div>