@using Library.Dto
@model (Book book, List<AuthorDto> authors, List<BookTypeDto> bookTypes)
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Yeni Kitap Ekleme Sayfası</h3>
<form method="post" asp-controller="Book" asp-action="Create">
    <div class="mb-3">
        <label class="form-label" asp-for="book.Name">İsim</label>
        <input type="text" asp-for="book.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.PageCount">Sayfa Sayısı</label>
        <input type="text" asp-for="book.PageCount" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.AuthorID">Yazar</label>
        <select class="form-control" asp-for="book.AuthorID" asp-items="@(new SelectList(Model.authors,"ID","FullName"))"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="book.BookTypeID">Kitap Türü</label>
        <select class="form-control" asp-for="book.BookTypeID" asp-items="@(new SelectList(Model.bookTypes,"ID","Name"))"></select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Kaydet</button>
    </div>
</form>