@section account{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-action="loginasstudent" asp-controller="home">
                <span class="glyphicon glyphicon-log-in"></span>
                Login as Student
            </a>
        </li>
    </ul>
}


<h3>Öğrenci Sayfası</h3>