

@section account{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-action="loginasteacher" asp-controller="home">
                <span class="glyphicon glyphicon-log-in"></span>
                Login as Teacher
            </a>
        </li>
    </ul>
}


<h3>Öğretmen Sayfası</h3>