
<h2 style="text-align:center">Kullanıcı Ekleme Sayfası</h2>

<form method="post" action="/user/addUser">
    <label for="firstName">Adı</label> <br />
    <input type="text" id="firstName" name="firstName" /> <br />
    <label for="lastName">Soyadı</label> <br />
    <input type="text" id="lastName" name="lastName" /> <br />
    <input type="submit" value="Kullanıcı Ekle" />
</form>